body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

header {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed; /* 位置を固定 */
    width: 100%; /* 幅を画面全体に */
    top: 0; /* トップから0pxの位置に */
    z-index: 1000; /* z-indexを高く設定して前面に表示 */
}

#navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}

#hero {
    background-image: url('hero-image.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 60px; /* headerの高さに応じて調整 */
}
.hero-text h1 {
    margin: 0;
}

h2 {
    padding: 10px 20px;
    text-align: left;
    color: #333;
    font-size: 24px;
    border-bottom: 2px solid #e2e2e2;
    margin: 120px 0 20px; /* ヘッダーの高さ + 40px */
    position: relative;
    top: -120px; /* ヘッダーの高さ + 40px */
}

ul {
    list-style: none;
    text-align: center;
}

.info-box {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    max-width: 700px;
}

.section-box {
    margin: 10px 0;
    padding: 15px;
    background-color: #ffffff;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    overflow: hidden;
}

.menu-list li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: transform 0.5s ease-out;
}

.horizontal-parallax {
    transition: transform 0.5s ease-out;
    will-change: transform;
    transform: scale(2);
}

.horizontal-parallax:hover {
    transform: scale(1.1);
}

.menu-list li:hover img {
    transform: translateY(-10px) scale(1.1);
}

@media (max-width: 768px) {
    .info-box {
        margin: 10px;
        padding: 10px;
    }
    
    header {
        position: static;
    }

    #navbar ul {
        flex-direction: column;
        text-align: center;
    }
    
    #hero {
        height: 50vh;
    }
}
